body {
  font-family: "Open Sans";
  color: #747c83;
  background-color: #00b3b4;
}

.container-fluid {
  background-color: white;
}

#survey {
  display: none;
}

.surveyResult, .surveyResult p {
  display: none;
}

.alert {
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-default {
  border-color: #00b3b4;
  color: #00b3b4;
  margin-bottom: 20px;
}

.btn-default:active, .btn-default:focus, .btn-default:active:focus {
  border-color: #00b3b4;
  color: #00b3b4;
  background-color: white;
}

.btn-default:hover {
  background-color: #00b3b4;
  color: white;
}

#topBar {
  border-bottom-color: #00b3b4;
  color: #00b3b4;
  font-style: normal;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  height: 100px;
}

hr {
  border-color: #00b3b4;
  border-width: 1px;
  margin-left: 0px;

}

#topBar > div {
  height: 100%;
}

img {
  height: 100%;
  padding: 20px;
  float: left;
}

#topBar h1 {
  text-align: center;
  margin-top: 40px;
}

.form-group > label {
  color: #00b3b4;

}

.well.surveyResult {
  margin-top: 30px;
  background-color: #00b3b4;
  color: white;
  text-align: center;
  font-size: 20px;
}

a {
  font-weight: bold;
  color: #00b3b4;
}

h3 {
  color: #00b3b4;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}

/*header color #00b3b4*/
/*text color #747c83 */
