body {
  font-family: "Open Sans";
  color: #747c83;
  background-color: #00b3b4;
}

a {
  font-weight: bold;
  color: #00b3b4;
}

h3 {
  color: #00b3b4;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}

hr {
  border-color: #00b3b4;
  border-width: 1px;
  margin-left: 0px;
}

#epicodusLogo {
  height: 100px;
  padding: 20px;
  margin: auto;
  display: block;
}

#topBar {
  border-bottom-color: #00b3b4;
  color: #00b3b4;
  font-style: normal;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

#topBar h1 {
  text-align: center;
  margin-top: 40px;
}

#survey {
  display: none;
}

.container-fluid {
  background-color: white;
}

.surveyResult, .surveyResult div {
  display: none;
}

.alert {
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-default {
  border-color: #00b3b4;
  color: #00b3b4;
  margin-bottom: 20px;
}

.btn-default:active, .btn-default:focus, .btn-default:active:focus {
  border-color: #00b3b4;
  color: #00b3b4;
  background-color: white;
}

.btn-default:hover {
  background-color: #00b3b4;
  color: white;
}

.form-group > label {
  color: #00b3b4;
}

.well.surveyResult {
  margin-top: 30px;
  background-color: #00b3b4;
  color: white;
  text-align: center;
  font-size: 18px;
}

.surveyResult a {
  color: white;
  font-style: italic;
}

.modal-title {
  text-align: center;
  font-weight: bold;
}
